@font-face {
	 font-family: "Gotham";
	 src: url("../fonts/GOTHAM-BOLD.TTF");
}

@font-face {
	 font-family: "Anglecia";
	 src: url("../fonts/Anglecia-Pro-Text-Regular.otf");
}

@font-face {
	 font-family: "Gotham Black";
	 src: url("../fonts/GOTHAM-BLACK.TTF");
}

@font-face {
	 font-family: "Gotham Book";
	 src: url("../fonts/Gotham-Book.otf");
}

@font-face {
	 font-family: "Gotham Light";
	 src: url("../fonts/GOTHAM-LIGHT.TTF");
}

@font-face {
	 font-family: "Gotham Medium";
	 src: url("../fonts/gotham/Gotham-Medium.otf");
}

@font-face {
	 font-family: "BluuNext";
	 src: url("../fonts/BluuNext-Bold.otf");
}

.Header{
	&-top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #343B3B;
		height: 50px;
		font-family: "Gotham Black";
		}
	&-Langues{
		display: flex;
		margin-left: 80px;
		color: #8B867F;
		&-item{
			list-style-type: none;
			margin-right: 10px;
			&-fr{
				color: white;
				margin-right: 10px;
			}
		}
	}
	&-Link{
		color: #8B867F;
		text-decoration: none;
		margin-left: 10px;
	}
	&-Bonjour{
		color: white;
		margin-right: 80px;
		&-img{
			margin-left: 10px;
		}
	}
	&-bottom{
		background-color: #7698AB;
		display: flex;
		justify-content: space-between;
		height: 100px;
		font-family: "Gotham";
		align-items: center;

		&-Title{
			margin-left: 80px;
			font-family: "BluuNext";
			font-size: 55px;
			color: white;
		}
		&-Liste{
			color:white;
			display: flex;
			margin-right: 80px;

			&-item{
				margin-left: 50px;
				&-link{
					text-decoration: none;
					color: white;
				}
			}
		}

	}

}

.Section1{
	&-image{
		width: 100%;

	}
	&-text{
		position: absolute;
		bottom: 180px;
		left: 47%;
		width: 710px;
		&-title{
			font-size: 68px;
			color: white;
			font-family: "Anglecia";
		}
		&-div{
			display: flex;
			align-items: center;
			margin-top: 60px;
			&-link{
				font-family: "Gotham";
				font-size: 22px;
				color: #282C2D;
				text-decoration: none;
				margin-left: 45px;
			}
		}
		&-subtitle{
			font-size: 32px;
			color: white;
			font-family: "Anglecia";
			margin-left: 80px;
		}
	}
}

.Section2{
	&-upside{
		font-size: 30px;
		font-family: "Gotham Light";
		width: 150px;
		position: absolute;
		writing-mode: vertical-rl;
  		text-orientation: sideways;
  		top: 800px;
  		margin-right: 400px;
	}
	&-upside2{
		font-size: 30px;
		font-family: "Gotham";
		width: 150px;
		position: absolute;
		writing-mode: vertical-rl;
  		text-orientation: sideways;
  		top: 1020px;
  		z-index: 4;
  		color: white;
	}
	&-Main{
		background-color: #343B3B;
		height: 550px;
		width: 500px;
		position: absolute;
		bottom: -900px;
		left: 36%;
	}
	&-MainImg{
		position: absolute;
		bottom: -630px;
		left: 34%;
		
		z-index: 4;
	}
	&-MainText{
		position: absolute;
		z-index: 3;
		left: 40%;
		bottom: -790px;
		color: white;
		text-align: center;
		font-family: "Anglecia";
		&-Haut{
			font-size: 72px;
			width: 400px;
		}
	}
	&-WhiteArrow{
		position: absolute;
		left: 69%;
		bottom: -880px;
		z-index: 5;
	}
	&-ArrowText{
		display: flex;
		position: absolute;
		z-index: 3;
		bottom: -1050px;
		left: 53%;
		align-items: center;
		
		&-Text{
			font-family: "Gotham";
			margin-left: 20px;
			color: white;
		}
	}
	&-Thumb{
		width: 320px;
		padding: 25px;
		position: relative;
		top: 200px;
		left: 80px;
		z-index: 2;
		background-color: white;
		&-BlackSwan{
			margin-bottom: 50px;
		}
		&-Text{
			position: relative;
			bottom: 30px;
			font-weight: bold;
			font-family: "Gotham";
		}
		&-traitrose{
			height: 3px;
			width: 30px;
			background-color: #F6C3AE;
			position: relative;
			bottom: 25px;
		}
		&-EuroFleche{
			display: flex;
			justify-content: space-between;
			&-Euro{
				font-family: "Gotham Light";
			}
		}
	}
	&-Thumb2{
		width: 240px;
		position: absolute;
		left: 76%;
		bottom: -600px;
		z-index: 2;
		background-color: white;
		&-BlackSwan{
			margin-bottom: 50px;
		}
		&-Text{
			position: relative;
			bottom: 30px;
			font-weight: bold;
			font-family: "Gotham";
		}
		&-traitrose{
			height: 3px;
			width: 30px;
			background-color: #F6C3AE;
			position: relative;
			bottom: 25px;
		}
		&-EuroFleche{
			display: flex;
			justify-content: space-between;
			&-Euro{
				font-family: "Gotham Light";
			}
		}
	}
	&-Thumb3{
		width: 240px;
		position: absolute;
		left: 76%;
		bottom: -900px;
		z-index: 2;
		background-color: white;
		&-BlackSwan{
			margin-bottom: 50px;
		}
		&-Text{
			position: relative;
			bottom: 30px;
			font-weight: bold;
			font-family: "Gotham";
		}
		&-traitrose{
			height: 3px;
			width: 30px;
			background-color: #F6C3AE;
			position: relative;
			bottom: 25px;
		}
		&-EuroFleche{
			display: flex;
			justify-content: space-between;
			&-Euro{
				font-family: "Gotham Light";
			}
		}
	}
	&-Femme{
		margin-top: 150px;
	}
}

.Section3{
	&-decouvrez{
		margin-top: 100px;
		font-family: "Gotham Light";
		margin-left: 250px;
		font-size: 30px;
		margin-bottom: 30px;
	}
	&-bague{
		margin-left: 250px;
	}
	&-ImgText{
		display: flex;
	}
	&-Text{
		margin-left: 110px;
		margin-top: 100px;
		&-Personnalisez{
			margin-top: 30px;
			font-size: 60px;
			color: #A2998E;
			width: 460px;
			margin-bottom: 30px;
		}
		&-icon{
			font-size: 40px;
		}
		&-Creez{
			position: relative;
			bottom: 10px;
			font-family: "Gotham";
			text-decoration: none;
			color: black;
			margin-left: 30px;
		}

	}
	&-traitrose{
		height: 6px;
		width: 130px;
		background-color: #F6C3AE;
	}

}

.Section4{
	margin-top: 100px;
	height: 400px;
	background-color: #7698AB;
	display: flex;
	justify-content: space-between;
	text-align: center;
	&-img{
		
		width: 100%;
		height: 350px;
	}
	&-div{
		&-circle{
			height: 250px;
			width: 250px;
			background-color: #353B3B;
			border-radius: 50%;
			margin-bottom: 35px;
			margin-top: 50px;
			&-img{
				margin-top: 75px;
			}
			&-imglast{
				margin-top: 95px;
			}
		}
		&-text{
			font-family: "Gotham";
			color: #282C2D;

		}
	}
}

.Section5{
	height: 200px;
	background-color: #353B3B;
	color: white;
	padding: 50px 80px 50px 80px;
	&-Top{
		display: flex;
		justify-content: space-between;
	}
	&-Title{
		font-family: "BluuNext";
		font-size: 55px;
	}
	&-RingText{
		&-Top{
			&-1{
				position: relative;
				font-family: "Gotham";
				font-size: 30px;
				bottom: 80px;
				left: 10px;
			}
			&-8{
				position: relative;
				font-family: "Gotham";
				font-size: 30px;
				bottom: 40px;
				right: 8px;
			}
			&-2{
				font-family: "Gotham";
				font-size: 30px;
				position: relative;
				right: 31px;
			}
		}
		&-Bottom{
			width: 150px;
			font-family: "Gotham";
			margin-top: 10px;

			&-Top{
				font-size: 26px;
			}
			&-Bottom{
				font-size: 21px;				text-align: center;
			}
		}
	}
	&-Services{
		&-Bold{
			font-family: "Gotham";
		}
		&-Light{
			font-family: "Gotham Light";
			margin-top: 9px;
		}
	}
	&-Apropos{
		&-Bold{
			font-family: "Gotham";
		}
		&-Light{
			font-family: "Gotham Light";
			margin-top: 9px;
		}
	}
	&-Rejoignez{
		
		&-Bold{
			text-align: right;
			font-family: "Gotham";
			margin-bottom: 10px;
		}
		&-Light{
			text-align: right;
			font-family: "Gotham Light";
		}
		&-Input{
			margin-top: 15px;
			border: 1px solid white;
			height: 30px;
			border-radius: 50px;
			width: 300px;
			position: relative;
			left: 90px;
			font-family: "Gotham Light";
			color: #8B867F;
		}
		&-Button{
			height: 34px;
			border-radius: 50px;
			border: 1px solid #7698AB;
			background-color: #7698AB;
			position: relative;
			z-index: 2;
			font-family: "Gotham";
			color: white;

		}
	}
	&-Bottom{
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
		&-date{
			font-family: "Gotham";
		}
		&-Social{
			position: relative;
			bottom: 50px;
			&-item{
				margin-left: 10px;
			}
		}
	}
}
