.Tunnel{
   margin-top: 50px;
   background: red;
  &-pages{
       border: 1px solid;
       width: 700px;
       height: 500px;
       background-color: #B4B2B2;
       opacity: 0.8;
       display: none;
     }
  &-buttonRight{
    margin-left: 70%;
  }
  &-buttonLeft{
    margin-left: 50%;
  }
  }
}
.is-active{
 //display: block;
 margin-left: 23%;
}
