.Tunnel{
   margin-top: 50px;
  &-pages{
       border: 1px solid;
       width: 700px;
       height: 500px;
       background-color: #B4B2B2;
       opacity: 0.8;
       display: none;
       &-button-Right{
         margin-left: 70%;
       }
       &-button-Left{
         margin-left: 70%;
       }
       &-button{
         display: flex;
       }
     }
}
.is-active{
 display: block;
 margin-left: 23%;
}
