body{


}
.Tunnel{

  &-container{
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  &-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
    background: black;
  }

  &-pagesContainer{
    position: absolute;
    z-index: 20;
    left: calc(50% - 350px);
    top: calc(50% - 250px);
  }

  &-pages{
       border: 1px solid;
       width: 700px;
       height: 500px;
       background-color: #EFEFEF;
       display: none;
  }

  &-pagesTitle{
    font-size: 18px;
    padding-bottom: 50px;
  }

  &-buttonRight{
  }

  &-buttonLeft{
  }

}

.is-active{
 display: block;
}
