body{


}
.Tunnel{

  &-container{
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  &-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
    background: black;
  }

  &-pagesContainer{
    position: absolute;
    z-index: 20;
    margin-left: 25%;
    margin-top: 10%;
    // left: calc(50% - 350px);
    // top: calc(50% - 250px);
  }


  &-pages{
       border: 1px solid;
       width: 50vw;
       height: 60vh;
       background-color: #EFEFEF;
       display: none;
       &-button-Right{}
       &-button-Left{}
  }

  &-pagesTitle{
    font-size: 18px;
    padding-bottom: 50px;
  }
}
.is-active{
 display: block;
}
