@font-face {
  font-family: "Gotham";
  src: url("../fonts/GOTHAM-BOLD.TTF"); }

@font-face {
  font-family: "Anglecia";
  src: url("../fonts/Anglecia-Pro-Text-Regular.otf"); }

@font-face {
  font-family: "Gotham Black";
  src: url("../fonts/GOTHAM-BLACK.TTF"); }

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-Book.otf"); }

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/GOTHAM-LIGHT.TTF"); }

@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/gotham/Gotham-Medium.otf"); }

@font-face {
  font-family: "BluuNext";
  src: url("../fonts/BluuNext-Bold.otf"); }

.Header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#C3DBC5, #7798AB);
  height: 50px;
  font-family: "Gotham Black"; }

.Header-Langues {
  display: flex;
  margin-left: 80px;
  color: #8B867F; }
  .Header-Langues-item {
    list-style-type: none;
    margin-right: 10px; }

.Header-Link {
  color: #8B867F;
  text-decoration: none; }

.Header-Bonjour {
  color: white;
  margin-right: 80px; }

.Header-bottom {
  background-color: #EFDED7;
  display: flex;
  justify-content: space-between;
  height: 100px;
  font-family: "Gotham";
  align-items: center; }
  .Header-bottom-Title {
    margin-left: 80px;
    font-family: "BluuNext";
    font-size: 55px;
    color: white; }
  .Header-bottom-Liste {
    color: white;
    display: flex;
    margin-right: 80px; }
    .Header-bottom-Liste-item {
      margin-left: 50px; }

.Section1-image {
  width: 100vw; }

.Section2-Main {
  background-color: #F6C4AE;
  height: 550px;
  width: 500px;
  position: absolute;
  bottom: -900px;
  left: 39%; }

.Section2-MainImg {
  position: absolute;
  bottom: -750px;
  left: 37%;
  width: 460px; }

.Section2-MainText {
  position: absolute;
  z-index: 3;
  left: 43%;
  bottom: -860px;
  color: white;
  text-align: center; }
  .Section2-MainText-Haut {
    font-size: 72px;
    width: 400px; }

.Section2-WhiteSquare {
  height: 40px;
  width: 40px;
  background-color: white;
  position: absolute;
  left: 72%;
  bottom: -880px; }

.Section2-Thumb {
  width: 340px;
  padding: 25px;
  position: relative;
  top: 200px;
  left: 80px;
  z-index: 2;
  background-color: white; }
  .Section2-Thumb-Text {
    position: relative;
    bottom: 30px;
    font-weight: bold;
    font-family: "Gotham"; }
  .Section2-Thumb-traitrose {
    height: 3px;
    width: 30px;
    background-color: #F6C3AE;
    position: relative;
    bottom: 25px; }
  .Section2-Thumb-EuroFleche {
    display: flex;
    justify-content: space-between; }
    .Section2-Thumb-EuroFleche-Euro {
      font-family: "Gotham Light"; }

.Section2-Thumb2 {
  width: 240px;
  position: absolute;
  left: 80%;
  bottom: -600px;
  z-index: 2;
  background-color: white; }
  .Section2-Thumb2-Text {
    position: relative;
    bottom: 30px;
    font-weight: bold;
    font-family: "Gotham"; }
  .Section2-Thumb2-traitrose {
    height: 3px;
    width: 30px;
    background-color: #F6C3AE;
    position: relative;
    bottom: 25px; }
  .Section2-Thumb2-EuroFleche {
    display: flex;
    justify-content: space-between; }
    .Section2-Thumb2-EuroFleche-Euro {
      font-family: "Gotham Light"; }

.Section2-Thumb3 {
  width: 240px;
  position: absolute;
  left: 80%;
  bottom: -900px;
  z-index: 2;
  background-color: white; }
  .Section2-Thumb3-Text {
    position: relative;
    bottom: 30px;
    font-weight: bold;
    font-family: "Gotham"; }
  .Section2-Thumb3-traitrose {
    height: 3px;
    width: 30px;
    background-color: #F6C3AE;
    position: relative;
    bottom: 25px; }
  .Section2-Thumb3-EuroFleche {
    display: flex;
    justify-content: space-between; }
    .Section2-Thumb3-EuroFleche-Euro {
      font-family: "Gotham Light"; }

.Section2-Femme {
  margin-top: 150px; }

.Section3-decouvrez {
  margin-top: 100px;
  font-family: "Gotham Light";
  margin-left: 150px;
  font-size: 30px;
  margin-bottom: 30px; }

.Section3-bague {
  margin-left: 150px; }

.Section3-ImgText {
  display: flex; }

.Section3-Text {
  margin-left: 110px;
  margin-top: 100px; }
  .Section3-Text-Personnalisez {
    margin-top: 30px;
    font-size: 60px;
    color: #A2998E;
    width: 460px;
    margin-bottom: 30px; }
  .Section3-Text-icon {
    font-size: 40px; }
  .Section3-Text-Creez {
    position: relative;
    bottom: 10px;
    font-family: "Gotham"; }

.Section3-traitrose {
  height: 6px;
  width: 130px;
  background-color: #F6C3AE; }

.Section4 {
  height: 400px;
  background-color: #EFDED7;
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 10%; }

.Section5 {
  height: 200px;
  background-color: #F6C4AE;
  color: white;
  padding: 50px 80px 50px 80px; }
  .Section5-Top {
    display: flex;
    justify-content: space-between; }
  .Section5-Title {
    font-family: "BluuNext";
    font-size: 55px; }
  .Section5-Services-Bold {
    font-family: "Gotham"; }
  .Section5-Services-Light {
    font-family: "Gotham Light";
    margin-top: 9px; }
  .Section5-Apropos-Bold {
    font-family: "Gotham"; }
  .Section5-Apropos-Light {
    font-family: "Gotham Light";
    margin-top: 9px; }
  .Section5-Rejoignez-Bold {
    text-align: right;
    font-family: "Gotham";
    margin-bottom: 10px; }
  .Section5-Rejoignez-Light {
    text-align: right;
    font-family: "Gotham Light"; }
  .Section5-Rejoignez-Input {
    margin-top: 15px;
    border: 1px solid white;
    height: 30px;
    border-radius: 50px;
    width: 300px; }
  .Section5-Rejoignez-Button {
    height: 34px;
    border-radius: 50px;
    border: 1px solid #EFDED7;
    background-color: #EFDED7;
    position: relative;
    top: 1px;
    z-index: 2;
    right: 90px;
    font-family: "Gotham";
    color: #A2998E; }
  .Section5-Bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px; }
    .Section5-Bottom-Social {
      font-size: 28px; }

body {
  font-family: montserrat; }

.Tunnel-container {
  background: linear-gradient(#C3DBC5, #7798AB); }

.Tunnel-pagesContainer {
  width: 630px;
  margin: 0 auto; }

.Tunnel-pages {
  padding: 52px; }

.Tunnel-pagesTitle {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center; }

.Tunnel-ringField {
  width: 150px;
  height: 160px;
  background-color: #FFF;
  position: absolute;
  margin-top: -12%; }

.is-active {
  display: block; }

.parent {
  margin-left: 22%; }

span {
  margin-left: 22%;
  font-weight: bold; }

.Render-container {
  margin: 0 auto;
  background: lightgrey; }
